<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAG3I1weVSlLRpzVQKHjtVk4gbhjp48818</string>
	<key>GCM_SENDER_ID</key>
	<string>960167971414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yutasakai.reprank</string>
	<key>PROJECT_ID</key>
	<string>rep-rank-f96dd</string>
	<key>STORAGE_BUCKET</key>
	<string>rep-rank-f96dd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960167971414:ios:62d891eedbd98c6d8009f7</string>
</dict>
</plist>